@{
    ViewBag.Title = "Contact";
}<link href="~/Content/Site.css" rel="stylesheet" />
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Contact me here</h3>

    <address>
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:gameSupport@163.com">gameSupport@163.com</a><br />
    </address>
</main>